.workspace {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .workspace {
    height: 85vh;
  }
}

.wrapper {
  display: inline-flex;
  min-width: 200%;
  min-height: 200%;
  padding: 20px;
}
