.zoomSlider {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 2%;
  top: 3%;
  z-index: 1;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .zoomSlider {
    bottom: 200px;
    top: unset;
  }
}

.value {
  width: 36px;
  font-size: 14px;
  color: white;
}
