.workspace {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .workspace {
    height: 85vh;
  }
}

.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
